// Body
$body-bg: #f5f8fa;

//colors
$main-color: #ffff;
$secondary-color: #f85454;
$typo-color: #444;
$p-color: #999;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
